<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE muclient>
<!-- Saved on Wednesday, July 08, 2009, 5:23 PM -->
<!-- MuClient version 4.37 -->

<muclient>
  <plugin
    name="ListenCD"
    author="Ckhrysze"
    id="dcc8f91bd3b67dbfcfa86e47"
    language="Python"
    purpose="Auto gen commands for listen cd area"
    date_written="2009-07-08 17:22:00"
    requires="4.37"
    version="1.0"
    >
  </plugin>


  <!--  Get our standard constants -->

  <include name="constants.pys"/>


<!--  Script  -->

<script>
<![CDATA[
{{ py_script }}
]]>
</script>

</muclient>
