{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/style/tablesorter.css" type="text/css" />
<style>
  #area_table {
    margin:auto;
    text-align: center;
  }
  td {
    max-width: 180px;
  }
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script> 
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(document).ready(function() { 
    $("#area_table").tablesorter({
        cancelSelection: true
    });
});
</script>
{% endblock %}

{% block body %}
<table id="area_table" class="tablesorter">
  <caption style="text-align:center;font-size: 24px">3Scapes Areas</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Creators</th>
      <th>Realms</th>
      <th>Closed</th>
      <th>Defunct</th>
      <th>Rating</th>
      <th>Directions</th>
    </tr>
  </thead>
  <tbody>
    {% for area in areas %}
    <tr>
      <td>{{ area.name }}</td>

      <td>
	{% for creator in area.creators.all %}
	{{creator.name}}
	{% if not forloop.last %}<br />{% endif %}
	{% endfor %}
      </td>

      <td>
	{% for realm in area.realms.all %}
	{{realm.name}}
	{% if not forloop.last %}<br />{% endif %}
	{% endfor %}
      </td>

      <td>{{ area.closed }}</td>
      <td>{{ area.defunct }}</td>
      <td>{{ area.rating }}</td>
      <td>{{ area.directions }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
